<!DOCTYPE html>
<html>
	<head>
		<title>Base</title>
	</head>

	<style type="text/css">
		body {
			font-family: sans-serif;
			width: 800px;
			margin: auto;
			padding: 30px;
		}
		label {
			display: block;
			font-size: 2em;
		}
		input[type=text] {
			width: 400px;
			font-size: 2em;
			padding: 0.2em;
		}
		input[type=submit] {
			font-size: 2.2em;
		}
		textarea {
			display: block;
			width: 400px;
			height: 200px;
			font-size: 1.8em;
			font-family: monospace;
		}
		li {
			margin: 30px;
		}
	</style>
	<body style="margin:0">
		<h1 style="background-color:#ddd, color=#888">Welcome 欢迎 Bienvenidos</h1>
		{% block content %}
		{% endblock %}
	</body>
</html>
