{% extends "base.html" %}
{% block content %}
	{% if message %}
		<div class='message'>
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{message}}
		</div>
	{% endif %}
	<h2> Log In </h2>
	<form method="POST">
		<label>Name
			<input type="text" name="username" value="{{username}}">
		</label>
		<span style="color: red">{{username_err_required}}</span>
		<span style="color: red">{{username_err_nonexistent}}</span>
		<br>
		<label>Password
			<input type="password" name="password" value="">
		</label>
		<span style="color: red">{{password_err}}</span>
		<span style="color: red">{{login_err}}</span>
		<br>
		<input type="submit">
	</form>
	<footer class="signup-hint">
		<h2> If you have not already signed up, click on the Sign Up button below </h2>
		<button type='button' class="signup_hint"><a href={{"/blog/signup"}}> Sign Up </a></button>
	</footer>
{% endblock %}