{% extends "base.html" %}
{% block content %}
<h2> Log In Here </h2>
<form method="POST">
	<label>Name
		<input type="text" name="username" value="{{username}}">
	</label>
	<span style="color: red">{{username_err}}</span>
	<br>
	<label>Password
		<input type="password" name="password" value="">
	</label>
	<span style="color: red">{{password_err}}</span>
	<br>
	<input type="submit">
</form>
<footer>
	<h2> If you have not already signed up, click on the Sign Up button below </h2>
	<button type='button'><a href={{"/blog/signup"}}> Sign Up </a></button>
</footer>
{% endblock %}