{% extends "base.html" %}
{% block content %}
	{% if message %}
		<div class='message'>
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{message}}
		</div>
	{% endif %}
	<h2> Log In </h2>
	<form method="POST">
		<label>名字
			<input type="text" name="username" value="{{username}}">
		</label>
		<span style="color: red">{{username_err_required}}</span>
		<span style="color: red">{{username_err_nonexistent}}</span>
		<br>
		<label>密码
			<input type="password" name="password" value="">
		</label>
		<span style="color: red">{{password_err}}</span>
		<span style="color: red">{{login_err}}</span>
		<br>
		<input type="submit" class="btn btn-success btn-lg">
	</form>
	{% include "signup_btn.html" with context %}
{% endblock %}