{% extends "base.html" %}
{% block content %}
	{% if author_id %}
		<main>
			<div>
				<span style="color: red">{{author_err}}</span>
			</div>
			<form method="POST">
				<label>标题
					<input type="text" name="subject" value="{{subject}}">
				</label>
				<span style="color: red">{{subject_err}}</span>
				<br>
				<label>内容
					<textarea type="text" name="content">{{content}}</textarea>
				</label>
				<span style="color: red">{{content_err}}</span>
				<br>
				<label> 类别
					<input list="tag" name="tag">
					<datalist id="tag">
						<option value="回忆"></option>
						<option value="旅途"></option>
						<option value="小说"></option>
						<option value="评论"></option>
					</datalist>
				</label>
				<input class="btn btn-success btn-lg" type="submit" value='发表'>
			</form>
		</main>
	{% endif %}
	<footer>
	{% if author_id %}
		{% include "logout_btn.html" with context %}
	{% endif %}
	{% if not author_id %}
		{% include "login_btn.html" with context %}
	{% endif %}
	</footer>
{% endblock %}