{% extends "base.html" %}
{% block content %}
	{% if post_key_st %}
		<a href={{"/blog/welcome"}}><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
		{% if message %}
			<div class='message'>
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				{{message}}
			</div>
		{% endif %}
		<main>
		    <h2> Details of Post </h2>
		    <span>author: {{author}}</span>
		    <span>subject: {{subject}}</span>
		    <textarea>content: {{content}}</textarea>
		    <span>Posted at {{postedAt.strftime("%b %d, %Y")}}.</span>
		    <span class='like'>{{likes}} likes </span>
		</main>
		<div class='flex-container'>
			<div class='flex-item'>
				<button>
					<a href={{"/blog/post/{}/edit".format(post_key_st)}}> Edit
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</a>
				</button>
				<button>
					<a href={{"/blog/deletepost?post_key_st={}".format(post_key_st)}}> Delete
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</a>
				</button>
			</div>
			<button class='flex-item'>
				<a href={{"/blog/post/{}/newcomment".format(post_key_st)}}> Comment
					<i class="fa fa-comment-o" aria-hidden="true"></i>
				</a>
			</button>
			<form class='flex-item' action="/blog/post/{{post_key_st}}/like" method="POST">
            	<i class="fa fa-2x fa-thumbs-up" aria-hidden="true"></i>
                <input type="submit" value="like">
			</form>
		</div>
	{% endif %}
	{% if comments %}
    	<div>
    	    <h2> All Comments </h2>
	        <ol>
	        {% for c in comments %}
                <li>
                    <strong> by {{c.commenter}}</strong>
                    <span> on {{c.postedAt.strftime("%b %d, %Y at %H: %M: %S:")}}</span>
                    <textarea>{{c.comment}}</textarea>
                    <div class='flex-container'>
						<!-- Edit Button trigger modal -->
						<button class="btn btn-primary btn-lg flex_item" data-toggle="modal" data-target="#editModal">
							Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
						<!-- Delete Button -->
						<form class='flex_item' action="/blog/post/{{post_key_st}}/deletecomment?comment_key_st={{c.comment_key_st}}" method="POST">
							<input type="submit" value='Delete' class="btn btn-warning">
						</form>
					</div>
					<!-- Edit Button Modal -->
					<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					      </div>
					      <div class="modal-body">
					        <form action="/blog/post/{{post_key_st}}/comment/{{c.comment_key_st}}/edit" method="POST">
								<label>Comment
									<textarea type="text" name="comment"> {{c.comment}}</textarea>
								</label>
								<input type="submit">
							</form>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
                </li>
            {% endfor %}
            </ol>
        </div>
    {% endif %}
    {% if not post_key_st %}
    	<h2> No post available without post_key_st </h2>
    {% endif %}
{% endblock %}

