{% extends "base.html" %}
{% block content %}
	{% if post_key_st %}
		<main>
			<form method="POST">
				<label>标题
					<input type="text" name="subject" value="{{subject}}">
				</label>
				<label>内容
					<textarea type="text" name="content">{{content}}</textarea>
				</label>
				<input type="submit" class="btn btn-success btn-sm">
				<a href={{"/post/{}".format(post_key_st)}} class="btn btn-primary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>Cancel</a>
			</form>
		</main>
	{% include "btns.html" ignore missing with context %}
	{% endif %}
	{% if comments %}
		<div>
			<h2> 所有评语 </h2>
			<ol>
			{% for c in comments %}
				<li>
					<strong> by {{c.commenter}}</strong>
					<span> on {{c.postedAt.strftime("%b %d, %Y at %H: %M: %S:")}}</span>
					<textarea>{{c.comment}}</textarea>
				</li>
			{% endfor %}
			</ol>
		</div>
	{% endif %}
{% endblock %}

