{% extends "base.html" %}
{% block content %}
	<div class='flex-container'>
		<a href={{"/blog/welcome"}} class='flex-item'><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
		<a href={{"/blog/post/{}".format(post_key_st)}} class='flex-item'><i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>Back</a>
	</div>
	<h2> You are sure you want to delete post titled '{{subject}}', {{username}}? </h2>
	<form action="/blog/deletepost?post_key_st={{post_key_st}}" method="POST">
		<span>Yes, delete it</span>
		<input type="submit">
	</form>
{% endblock %}