{% extends "base.html" %}
{% block content %}
	{% if post_key_st %}
		<main>
			<form method="POST">
				<label for="subj">Subject
					<input id="subj" type="text" name="subject" value="{{subject}}">
				</label>
				<label for="cont">Content
					<textarea id="cont" type="text" name="content" autofocus>{{content}}</textarea>
				</label>
				<label for="tag_input"> Tag: {{tag}}
					<input id="tag_input" list="tag" name="tag">
					<datalist id="tag">
						<option value="memoir"></option>
						<option value="travel"></option>
						<option value="novella"></option>
						<option value="commentary"></option>
					</datalist>
				</label>
				<input type="submit" class="btn btn-success btn-sm">
				<a href={{"/post/{}".format(post_key_st)}} class="btn btn-primary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>Cancel</a>
			</form>
		</main>
	{% include "btns.html" ignore missing with context %}
	{% endif %}
	{% if comments %}
		<div>
			<h2> All Comments </h2>
			<ol>
			{% for c in comments %}
				<li>
					<strong> by {{c.commenter}}</strong>
					<span> on {{c.postedAt.strftime("%b %d, %Y at %H: %M: %S:")}}</span>
					<textarea>{{c.comment}}</textarea>
				</li>
			{% endfor %}
			</ol>
		</div>
	{% endif %}
{% endblock %}

