{% extends "base.html" %}
{% block content %}
	{% if author_key_string %}
		<main>
		    <h2> Details of Post </h2>
		    <span>author: {{author}}</span>
		    <span>subject: {{subject}}</span>
		    <textarea>content: {{content}}</textarea>
		    <span>Posted at {{postedAt.strftime("%b %d, %Y")}}</span>
		</main>
		<div class='flex-container'>
			<em class='flex-item'> Comment <i class="fa fa-comment-o" aria-hidden="true"></i></em>
			<em class='flex-item'> Likes <i class="fa fa-thumbs-up" aria-hidden="true"></i></em>
		<div>
	{% endif %}
{% endblock %}
