{% extends "base.html" %}
{% block content %}
	{% if post_key_st %}
		<div class='flex-container'>
			<a href={{"/blog/welcome"}} class='flex-item'><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
			<a href={{"/blog/post/{}".format(post_key_st)}} class='flex-item'><i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>Back</a>
		</div>
		<main>
			<form method="POST">
				<label>Subject
					<input type="text" name="subject" value="{{subject}}">
				</label>
				<label>Content
					<textarea type="text" name="content">{{content}}</textarea>
				</label>
				<input type="submit">
			</form>
		</main>
	{% include "btns.html" ignore missing with context %}
	{% endif %}
	{% if comments %}
		<div>
			<h2> All Comments </h2>
			<ol>
			{% for c in comments %}
				<li>
					<strong> by {{c.commenter}}</strong>
					<span> on {{c.postedAt.strftime("%b %d, %Y at %H: %M: %S:")}}</span>
					<textarea>{{c.comment}}</textarea>
				</li>
			{% endfor %}
			</ol>
		</div>
	{% endif %}
{% endblock %}

