{% extends "base.html" %}
{% block content %}
	<form method="POST">
		<label for="usern">Name
			<input id="usern" type="text" name="username" value="{{username}}" placeholder="Joe">
		</label>
		<span style="color: red">{{username_err_required}}</span>
		<span style="color: red">{{username_err_nonvalid}}</span>
		<span style="color: red">{{username_err_unique}}</span>
		<br>
		<label for="pwd">Password
			<input id="pwd" type="password" name="password" value="">
		</label>
		<span style="color: red">{{password_err}}</span>
		<br>
		<label for="pwd_ver">Verify Password
			<input id="pwd_ver" type="password" name="verify" value="">
		</label>
		<span style="color: red">{{verify_err}}</span>
		<br>
		<label for="eml">Email
			<input id="eml" type="email" name="email" value="{{email}}" placeholder="joeperson@somesite.something" autocomplete="email">
		</label>
		<span style="color: red">{{email_err}}</span>
		<br>
		<input type="submit" class="btn btn-success btn-lg">
	</form>
	{% include "login_btn.html" with context %}
{% endblock %}