{% extends "base.html" %}
{% block content %}
	<h2>Welcome {{username}}! </h2>

	<h2> All Posts </h2>
	{% if posts %}
	    <div> Posts List
	        <ol>
	            {% for post in posts %}
	                <li>
	                    <strong>{{post.subject}}</strong>
	                    <span> on {{post.postedAt.strftime("%b %d, %Y at %H: %M: %S:")}}</span>
	                    <textarea>{{post.content}}</textarea>
	                </li>
	            {% endfor %}
	        </ol>
	    </div>
	{% endif %}
{% endblock %}