{% extends "base.html" %}
{% block content %}
	{% if user_id %}
		<h2>Welcome, {{user_id}} {{username}} </h2>
		<button type='button'><a href={{"/blog/newpost?user_id={}".format(user_id)}}> New Post </a></button>
	{% endif %}
	{% if posts %}
		<h2> All Posts </h2>
	    <div> Posts List
	        <ol>
            {% for post in posts %}
                <li>
                    <strong>{{post.subject}}</strong>
                    <span> on {{post.postedAt.strftime("%b %d, %Y at %H: %M: %S:")}}</span>
                    <textarea>{{post.content}}</textarea>
                </li>
            {% endfor %}
	        </ol>
	    </div>
	{% endif %}
	<footer>
	{% if user_id %}
		<div class="logout_hint">
			<h2> Would you like to log out? Click on the button below. </h2>
			<button type='button'><a href={{"/blog/logout"}}> Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></button>
		</div>
	{% endif %}
	{% if not user_id %}
		<div class="login-hint">
			<h2> Already have an account? Click on the Login below. </h2>
			<button type='button' class="login-hint"><a href={{"/blog/login"}}> Log In <i class="fa fa-sign-in" aria-hidden="true"></i></a></button>
		</div>
		<div class="signup-hint">
			<h2> Would like to create, edit and delete a post, or comment or like a post? Sign up please <i class="fa fa-smile-o" aria-hidden="true"></i> </h2>
			<button type='button' class="signup-hint"><a href={{"/blog/signup"}}> Sign Up </a></button>
		</div>
	{% endif %}
	</footer>
{% endblock %}