body {
	font-family: sans-serif;
	width: 100%;
	min-width: 325px;
	padding: 5px 15px 5px 15px;
}

main {
	background-color: #fafbfc;
	width: 100%;
}

footer {
	width: calc(100% - 2em);
	padding: 5px 15px 5px 15px;
}

label {
	display: block;
	font-size: 2em;
}

input[type=text] {
	display: block;
	width: calc(100% - 2em);
	font-size: 2em;
	padding: 0.2em;
}

button, input[type=submit] {
	font-size: 2em;
}

textarea {
	display: block;
	width: calc(100% - 2em);
	height: 200px;
	font-size: 1.8em;
	font-family: monospace;
}

li {
	margin: 30px;
}

.login_hint {
	background-color: green;
}

.logout_hint {
	background-color: orange;
}

.signup_hint {
	background-color: #02b3e4;
}
