body {
	font-family: sans-serif;
	width: 100%;
	min-width: 325px;
	padding: 5px 15px 5px 15px;
}

main {
	background-color: #fafbfc;
	width: 100%;
}

footer {
	width: calc(100% - 2em);
	padding: 5px 15px 5px 15px;
}

label {
	display: block;
	font-size: 2em;
}

input[type=text] {
	display: block;
	width: calc(100% - 2em);
	padding: 0.2em;
}

button, span, input[type=submit], a {
	font-size: 2em !important;
}

textarea {
	display: block;
	width: calc(100% - 2em);
	height: 200px;
	font-family: monospace;
}

li {
	margin: 30px;
}

.login-hint {
	background-color: green;
}

.logout-hint, .message {
	background-color:  #F07C17;
}

.signup-hint {
	background-color: #02b3e4;
}

.like {
	background-color: red;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.flex-item {
	background: tomato;
	padding: 5px;
	width: 30%;
	margin-top: 10px;
	text-align: center;
}
